<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi.coderchat">
    <!-- have full network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mi.coderchat.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.coderchat.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mi.coderchat.MessageActivity" />
        <activity android:name="com.mi.coderchat.LoginActivity" />
        <activity android:name="com.mi.coderchat.SignUpActivity" />
        <activity android:name="com.mi.coderchat.ForgotPassword" />
        <activity android:name="com.mi.coderchat.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>